{{#each recipe as |recipe| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{ recipe.recipe_name }}</h2>
  </div>
  <div class="col-md-6">
    <h3>{{ recipe.recipe_name }}</h3>
  </div>
</div>
{{/each}}
