<div class="login">
  <h2>Signup for Account</h2>

  <form class="form signup-form">
    <div class="form-group">
      <label for="email-signup">email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <br>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Sign up</button>
    </div>
    <br>
  </form>

  <p>Have an Account??  <a href="/login">Login Instead</a></p>
</div>

<script src="/js/signup.js"></script>